
a {
  color: #F05F40;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}


h1,
{
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

p {
    text-align: center;
}





@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}






.text-primary {
  color: #F05F40 !important;
}










